body {
    font-family: ;
}

h1 {
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: bisque;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px purple;
}

div {
    
}

li {
    margin: 0 auto;
    margin-bottom: 10px;;
    padding: 20px;
    background-color: rgb(142, 209, 142);
    border-radius: 20px;
    list-style-type: none;
}
