body {
    background-color: rgb(203, 203, 203);
}

h1 {
    text-align: center;
}

div {
    margin: 0 auto;
    max-width: 400px;
    background-color: rgb(125, 255, 179);
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

li {
    display: flex;
    flex-direction: column;
    align-items: 0 auto;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(255, 133, 133);
    list-style-type: none;
}

label {
    display: flex;
    align-items: 0 auto;
    margin: 1px;
}

#ul {
    display: flex;
    flex-direction: column;
}