h1 {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
}

.first {
    display: flex;
    align-items: center;
    : 20px;gap
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(179, 255, 255);
    max-width: 450px;
    padding: 20px;
}

.second {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 220px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(156, 255, 200);
    padding: 10px;
}

.third {
    display: flex;
    justify-content: left;
    align-items: ;
}

.fourth {
    display: flex;
    margin-left: 50px;
}